<h1>Demo</h1>

<button type="button" routerLink="todos/the-worst">The Worst</button>
<button type="button" routerLink="todos/typeahead">Typeahead</button>
<button type="button" routerLink="todos/pagination">The Pagination</button>
<button type="button" routerLink="todos/pagination-other">The Pagination Other</button>
<button type="button" routerLink="todos/sorting">Add Sorting</button>
<button type="button" routerLink="todos/sorting-other">Add Sorting Other</button>
<button type="button" routerLink="/todos">Todos</button>
<button type="button" routerLink="todos/other">Todos-Other</button>
<button type="button" routerLink="">Home</button>

<router-outlet></router-outlet>
